In [ ]:
# mount google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [ ]:
# loading train data
train_data = pd.read_csv('/content/drive/MyDrive/Leukemia/label_noise/data/train_features.csv')
train_data

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1017,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label
0,0.00000,0.000000,0.000000,0.124490,0.000000,0.000000,0.000000,0.017730,0.121594,0.042755,...,0.049632,0.000000,0.145983,0.364250,0.000000,0.000000,0.000000,0.0,0.382084,0
1,0.00000,0.000000,0.000000,0.494720,0.000000,0.000000,0.832258,0.000000,0.000000,0.000000,...,0.000000,0.409121,0.065414,0.000000,0.283554,0.737353,0.000000,0.0,0.001896,1
2,0.00000,0.222254,0.073965,0.197426,0.067049,0.068248,0.000000,0.000000,1.008587,0.000000,...,0.000000,0.000000,0.000000,0.270376,0.000000,0.000000,0.000000,0.0,0.008116,0
3,0.00000,0.261547,0.419098,0.000000,0.475136,0.000000,0.198079,0.016852,0.603422,0.000000,...,0.000000,0.000000,0.000000,0.372886,0.000000,0.000000,0.000000,0.0,0.014732,0
4,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.162359,0.000000,0.000000,0.026362,...,0.000000,0.000000,0.000000,0.310478,0.000000,0.000000,0.000000,0.0,0.191203,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014801,...,0.000000,0.000000,0.122795,0.329416,0.000000,0.000000,0.000000,0.0,0.124897,0
15996,0.03798,0.000000,0.000000,0.000000,0.000000,0.000000,0.287219,0.003793,0.000000,0.000000,...,0.000000,0.041056,0.019139,0.000000,0.000000,0.081955,0.018327,0.0,0.063321,1
15997,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.522346,0.126552,0.063396,0.000000,...,0.000000,0.000000,0.000000,0.057808,0.002125,0.318777,0.000000,0.0,0.366656,1
15998,0.00000,0.000000,0.000000,0.000000,0.118977,0.000000,0.015331,0.078861,0.000000,0.000000,...,0.000000,0.000000,0.029400,0.379205,0.000000,0.000000,0.000000,0.0,0.214639,0
15999,0.00000,0.000000,0.000000,0.002505,0.420234,0.000000,0.000000,0.000000,0.840127,0.000000,...,0.010237,0.000000,0.105432,0.625601,0.000000,0.000000,0.000000,0.0,0.008283,0

In [ ]:
# loading test data
test_data = pd.read_csv('/content/drive/MyDrive/Leukemia/label_noise/data/test_features.csv')
test_data

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1017,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label
0,0.000000,0.112858,0.000000,0.000000,0.249666,0.000000,0.000000,0.000000,0.708322,0.000000,...,0.000000,0.000000,0.000000,0.403367,0.0,0.000000,0.000000,0.0,0.005882,0
1,0.000000,0.000000,0.000000,0.038358,0.159095,0.000000,0.101191,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.043491,0.0,0.000000,0.000000,0.0,0.021889,0
2,0.000000,0.010650,0.000000,0.000000,0.235920,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.097248,0.051915,0.0,0.000000,0.000000,0.0,0.510534,0
3,0.006295,0.000000,0.000000,0.000000,0.000000,0.000000,0.199720,0.000000,0.000000,0.053357,...,0.077099,0.000000,0.106834,0.116304,0.0,0.145265,0.000000,0.0,0.238191,0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.119389,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.275823,0.000000,0.0,0.035344,0.000000,0.0,0.114065,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,0.000000,0.247988,0.000000,0.000000,0.249397,0.130581,0.000000,0.069302,0.429453,0.000000,...,0.000000,0.000000,0.000000,0.098535,0.0,0.000000,0.000000,0.0,0.010272,0
3996,0.000000,0.000000,0.056212,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.265194,...,0.000000,0.292109,0.298088,0.000000,0.0,0.098761,0.081041,0.0,0.000357,1
3997,0.000000,0.243612,0.000000,0.043716,0.000000,0.000000,0.000000,0.000000,0.202267,0.000000,...,0.121721,0.000000,0.232630,0.000000,0.0,0.000000,0.000000,0.0,0.776514,0
3998,0.000000,0.000000,0.000000,0.051922,0.000000,0.000000,0.000000,0.000000,0.000000,0.120191,...,0.007523,0.507526,0.357598,0.000000,0.0,0.170505,0.000000,0.0,0.001407,1
3999,0.000000,0.256032,0.000000,0.000000,0.000000,0.067563,0.385018,0.000000,0.304201,0.000000,...,0.000000,0.218780,0.117210,0.000000,0.0,0.375212,0.285871,0.0,0.121042,1

In [ ]:
print(f"After feature extraction, total train samples: {train_data.shape[0]}")
print(f"After feature extraction, total test samples: {test_data.shape[0]}")

After feature extraction, total train samples: 16000
After feature extraction, total test samples: 4000

In [ ]:
# droping loss columns for both train data and making labels
train_x = pd.DataFrame(train_data.drop(['label', 'loss'], axis=1))
train_y = train_data['label']
print(f"shape of train features: {train_x.shape}")
print(f"shape of train labels: {train_y.shape}")

shape of train features: (16000, 1024)
shape of train labels: (16000,)

In [ ]:
# droping loss columns for both train data and making labels
test_x = pd.DataFrame(test_data.drop(['label', 'loss'], axis=1))
test_y = test_data['label']
print(f"shape of train features: {test_x.shape}")
print(f"shape of train labels: {test_y.shape}")

shape of train features: (4000, 1024)
shape of train labels: (4000,)

In [ ]:
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import matthews_corrcoef
from imblearn.metrics import specificity_score

In [ ]:
def eval_results(model, tain_x, train_y, test_x, test_y):
  model.fit(train_x, train_y)
  prediction = model.predict(test_x)
  acc = metrics.accuracy_score(prediction, test_y)
  print(f"Accuracy: {acc}")
  roc_auc = roc_auc_score(test_y, prediction)
  print("ROC-AUC score is: ", round(roc_auc, 3))
  mcc = matthews_corrcoef(test_y, prediction)
  print("The Matthews correlation coefficinet (MCC) is: ", round(mcc, 3))
  sp = specificity_score(test_y, prediction, average='weighted')
  print(f"Weighted specificity: {sp:.3f}")
  print(classification_report(test_y, prediction))

In [ ]:
# adaboost classifier
from sklearn.ensemble import AdaBoostClassifier

adaboost_clf = AdaBoostClassifier(n_estimators=100, learning_rate=1.0, algorithm='SAMME.R', random_state=42, base_estimator='deprecated')
eval_results(adaboost_clf, train_x, train_y, test_x, test_y)

Accuracy: 0.86375
ROC-AUC score is:  0.864
The Matthews correlation coefficinet (MCC) is:  0.728
Weighted specificity: 0.864
              precision    recall  f1-score   support

           0       0.85      0.87      0.86      1985
           1       0.87      0.85      0.86      2015

    accuracy                           0.86      4000
   macro avg       0.86      0.86      0.86      4000
weighted avg       0.86      0.86      0.86      4000

In [ ]:
# getting number of sample to make noisy
n_5_percentage_test = int(round((len(test_data) /100) *5))

In [ ]:
n_5_percentage_train = int(round((len(train_data) /100) *5))

In [ ]:
train_f = train_y.values
train_dummy = np.empty(len(train_f))

In [ ]:
#

In [ ]:
percentage_5 = round((len(train_data) / 100) * 5)
n_5_percentage = int(percentage_5)

In [ ]:
# functio to make noisy labels
def make_noisy_label(true_labels, dummy_labels, n_samples):
  k = 0
  for i in range(len(true_labels)):
    if k>= n_samples:
      dummy_labels[i] = true_labels[i]
    else:
      if(true_labels[i]==0):
        dummy_labels[i] = 1
      elif(true_labels[i]==1):
        dummy_labels[i] = 0
    k+= 1
  return dummy_labels

In [ ]:
noise_train = make_noisy_label(train_f, train_dummy, n_5_percentage)
print(f"shape of lable_noise_5: {noise_train.shape} and unique values are: {np.unique(noise_train)}")

shape of lable_noise_5: (16000,) and unique values are: [0. 1.]

In [ ]:
noise_train = noise_train.tolist()
for i in range(len(noise_train)):
  noise_train[i] = int(noise_train[i])

In [ ]:
n = pd.DataFrame(train_data.drop('label', 1))

<ipython-input-49-76200355f21a>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  n = pd.DataFrame(train_data.drop('label', 1))

In [ ]:
n.head(4)

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1016,f_1017,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss
0,0.0,0.000000,0.000000,0.124490,0.000000,0.000000,0.000000,0.017730,0.121594,0.042755,...,0.000000,0.049632,0.000000,0.145983,0.364250,0.000000,0.000000,0.0,0.0,0.382084
1,0.0,0.000000,0.000000,0.494720,0.000000,0.000000,0.832258,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.409121,0.065414,0.000000,0.283554,0.737353,0.0,0.0,0.001896
2,0.0,0.222254,0.073965,0.197426,0.067049,0.068248,0.000000,0.000000,1.008587,0.000000,...,0.014069,0.000000,0.000000,0.000000,0.270376,0.000000,0.000000,0.0,0.0,0.008116
3,0.0,0.261547,0.419098,0.000000,0.475136,0.000000,0.198079,0.016852,0.603422,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.372886,0.000000,0.000000,0.0,0.0,0.014732

In [ ]:
n_tr = n.assign(label=noise_train)
n_tr.head(2)

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1017,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label
0,0.0,0.0,0.0,0.12449,0.0,0.0,0.000000,0.01773,0.121594,0.042755,...,0.049632,0.000000,0.145983,0.36425,0.000000,0.000000,0.0,0.0,0.382084,1
1,0.0,0.0,0.0,0.49472,0.0,0.0,0.832258,0.00000,0.000000,0.000000,...,0.000000,0.409121,0.065414,0.00000,0.283554,0.737353,0.0,0.0,0.001896,0

In [ ]:
test_f = test_y.values
test_dummy = np.empty(len(test_f))

percentage_5_test = round((len(test_data) / 100) * 5)
n_5_percentage_test = int(percentage_5_test)

noise_test = make_noisy_label(test_f, test_dummy, n_5_percentage_test)
print(f"shape of lable_noise_5: {noise_test.shape} and unique values are: {np.unique(noise_test)}")

shape of lable_noise_5: (4000,) and unique values are: [0. 1.]

In [ ]:
noise_test = noise_test.tolist()
for i in range(len(noise_test)):
  noise_test[i] = int(noise_test[i])

In [ ]:
nt = pd.DataFrame(test_data.drop('label', 1))
nt.head(2)

<ipython-input-59-926af664578c>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  nt = pd.DataFrame(test_data.drop('label', 1))

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1016,f_1017,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss
0,0.0,0.112858,0.0,0.000000,0.249666,0.0,0.000000,0.0,0.708322,0.0,...,0.0,0.0,0.0,0.0,0.403367,0.0,0.0,0.0,0.0,0.005882
1,0.0,0.000000,0.0,0.038358,0.159095,0.0,0.101191,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.043491,0.0,0.0,0.0,0.0,0.021889

In [ ]:
n_tst = nt.assign(label=noise_test)
n_tst.head(2)

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1017,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label
0,0.0,0.112858,0.0,0.000000,0.249666,0.0,0.000000,0.0,0.708322,0.0,...,0.0,0.0,0.0,0.403367,0.0,0.0,0.0,0.0,0.005882,1
1,0.0,0.000000,0.0,0.038358,0.159095,0.0,0.101191,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.043491,0.0,0.0,0.0,0.0,0.021889,1

In [ ]:
n_tst.to_csv(r'/content/drive/MyDrive/Leukemia/label_noise/data-final/noisy_test.csv', index=False)

In [ ]:
n_tr.to_csv(r'/content/drive/MyDrive/Leukemia/label_noise/data-final/noisy_train.csv', index=False)

In [ ]:
noisy_train = pd.read_csv('/content/drive/MyDrive/Leukemia/label_noise/data-final/noisy_train.csv')
noisy_train

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1017,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label
0,0.00000,0.000000,0.000000,0.124490,0.000000,0.000000,0.000000,0.017730,0.121594,0.042755,...,0.049632,0.000000,0.145983,0.364250,0.000000,0.000000,0.000000,0.0,0.382084,1
1,0.00000,0.000000,0.000000,0.494720,0.000000,0.000000,0.832258,0.000000,0.000000,0.000000,...,0.000000,0.409121,0.065414,0.000000,0.283554,0.737353,0.000000,0.0,0.001896,0
2,0.00000,0.222254,0.073965,0.197426,0.067049,0.068248,0.000000,0.000000,1.008587,0.000000,...,0.000000,0.000000,0.000000,0.270376,0.000000,0.000000,0.000000,0.0,0.008116,1
3,0.00000,0.261547,0.419098,0.000000,0.475136,0.000000,0.198079,0.016852,0.603422,0.000000,...,0.000000,0.000000,0.000000,0.372886,0.000000,0.000000,0.000000,0.0,0.014732,1
4,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.162359,0.000000,0.000000,0.026362,...,0.000000,0.000000,0.000000,0.310478,0.000000,0.000000,0.000000,0.0,0.191203,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014801,...,0.000000,0.000000,0.122795,0.329416,0.000000,0.000000,0.000000,0.0,0.124897,0
15996,0.03798,0.000000,0.000000,0.000000,0.000000,0.000000,0.287219,0.003793,0.000000,0.000000,...,0.000000,0.041056,0.019139,0.000000,0.000000,0.081955,0.018327,0.0,0.063321,1
15997,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.522346,0.126552,0.063396,0.000000,...,0.000000,0.000000,0.000000,0.057808,0.002125,0.318777,0.000000,0.0,0.366656,1
15998,0.00000,0.000000,0.000000,0.000000,0.118977,0.000000,0.015331,0.078861,0.000000,0.000000,...,0.000000,0.000000,0.029400,0.379205,0.000000,0.000000,0.000000,0.0,0.214639,0
15999,0.00000,0.000000,0.000000,0.002505,0.420234,0.000000,0.000000,0.000000,0.840127,0.000000,...,0.010237,0.000000,0.105432,0.625601,0.000000,0.000000,0.000000,0.0,0.008283,0

In [ ]:
noisy_test = pd.read_csv('/content/drive/MyDrive/Leukemia/label_noise/data-final/noisy_test.csv')
noisy_test

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1017,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label
0,0.000000,0.112858,0.000000,0.000000,0.249666,0.000000,0.000000,0.000000,0.708322,0.000000,...,0.000000,0.000000,0.000000,0.403367,0.0,0.000000,0.000000,0.0,0.005882,1
1,0.000000,0.000000,0.000000,0.038358,0.159095,0.000000,0.101191,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.043491,0.0,0.000000,0.000000,0.0,0.021889,1
2,0.000000,0.010650,0.000000,0.000000,0.235920,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.097248,0.051915,0.0,0.000000,0.000000,0.0,0.510534,1
3,0.006295,0.000000,0.000000,0.000000,0.000000,0.000000,0.199720,0.000000,0.000000,0.053357,...,0.077099,0.000000,0.106834,0.116304,0.0,0.145265,0.000000,0.0,0.238191,1
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.119389,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.275823,0.000000,0.0,0.035344,0.000000,0.0,0.114065,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,0.000000,0.247988,0.000000,0.000000,0.249397,0.130581,0.000000,0.069302,0.429453,0.000000,...,0.000000,0.000000,0.000000,0.098535,0.0,0.000000,0.000000,0.0,0.010272,0
3996,0.000000,0.000000,0.056212,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.265194,...,0.000000,0.292109,0.298088,0.000000,0.0,0.098761,0.081041,0.0,0.000357,1
3997,0.000000,0.243612,0.000000,0.043716,0.000000,0.000000,0.000000,0.000000,0.202267,0.000000,...,0.121721,0.000000,0.232630,0.000000,0.0,0.000000,0.000000,0.0,0.776514,0
3998,0.000000,0.000000,0.000000,0.051922,0.000000,0.000000,0.000000,0.000000,0.000000,0.120191,...,0.007523,0.507526,0.357598,0.000000,0.0,0.170505,0.000000,0.0,0.001407,1
3999,0.000000,0.256032,0.000000,0.000000,0.000000,0.067563,0.385018,0.000000,0.304201,0.000000,...,0.000000,0.218780,0.117210,0.000000,0.0,0.375212,0.285871,0.0,0.121042,1

In [ ]:
print(f"After feature extraction, total train samples: {noisy_train.shape[0]}")
print(f"After feature extraction, total test samples: {noisy_test.shape[0]}")

After feature extraction, total train samples: 16000
After feature extraction, total test samples: 4000

In [ ]:
# droping loss columns for both train data and making labels
train_x = pd.DataFrame(noisy_train.drop(['label', 'loss'], axis=1))
train_y = noisy_train['label']
print(f"shape of train features: {train_x.shape}")
print(f"shape of train labels: {train_y.shape}")

shape of train features: (16000, 1024)
shape of train labels: (16000,)

In [ ]:
# droping loss columns for both train data and making labels
test_x = pd.DataFrame(noisy_test.drop(['label', 'loss'], axis=1))
test_y = noisy_test['label']
print(f"shape of train features: {test_x.shape}")
print(f"shape of train labels: {test_y.shape}")

shape of train features: (4000, 1024)
shape of train labels: (4000,)

In [ ]:
# adaboost classifier
from sklearn.ensemble import AdaBoostClassifier

adaboost_clf = AdaBoostClassifier(n_estimators=100, learning_rate=1.0, algorithm='SAMME.R', random_state=42, base_estimator='deprecated')
eval_results(adaboost_clf, train_x, train_y, test_x, test_y)

Accuracy: 0.86375
ROC-AUC score is:  0.864
The Matthews correlation coefficinet (MCC) is:  0.728
Weighted specificity: 0.864
              precision    recall  f1-score   support

           0       0.85      0.87      0.86      1985
           1       0.87      0.85      0.86      2015

    accuracy                           0.86      4000
   macro avg       0.86      0.86      0.86      4000
weighted avg       0.86      0.86      0.86      4000